<!-- Launch LX-16A encoder calibration rosserial node  

    - rosserial node to Arduino encoder publisher.
 -->
<launch>
    <arg name="port" default="/dev/cu.usbmodemFD5121"/>
    <arg name="robot_name" default=""/>

    <!-- ROS serial node connected to Arduino Mega 2560 for encoder calibration -->
    <node pkg="rosserial_python" type="serial_node.py" name="lx16a_encoder_calib" output="screen">
        <param name="port" value="$(arg port)"/>
        <param name="baud" value="115200"/>
        <param name="tf_prefix" value="$(arg robot_name)"/>
    </node>

</launch>
