<!-- Launch the base motor driver node -->
<launch>
    <arg name="port" default="/dev/ttyUSB0" />

    <!-- Hardware driver -->
    <node pkg="curio_base" type="curio_motor_controller" name="curio_motor_controller"
        respawn="true" output="screen">
        <rosparam command="load" file="$(find curio_base)/config/motor_controller.yaml" />
        <rosparam subst_value="true">
            port: $(arg port)
        </rosparam>
    </node>

</launch>