<!-- Launch the LX-16A regressor training node

Parameters
    labeldata_filename : str
        The name of the zipped labelled data csv file
    dataset_filename : str
        The name of the zipped dataset csv file
    regressor_filename : str
        The name of the output model file (python pickled format)
-->
<launch>
    <arg name="labeldata_filename" default="$(find curio_base)/data/lx16a_labelled_data.zip" />
    <arg name="dataset_filename" default="$(find curio_base)/data/lx16a_dataset.zip" />
    <arg name="regressor_filename" default="$(find curio_base)/data/lx16a_tree_regressor.joblib" />

    <!-- Run the training script for the classifier used the encoder filter  -->
    <node pkg="curio_base" type="lx16a_train_regressor.py" name="lx16a_train_regressor"
        respawn="false" output="screen">
        <param name="labeldata_filename" value="$(arg labeldata_filename)" />
        <param name="dataset_filename" value="$(arg dataset_filename)" />
        <param name="regressor_filename" value="$(arg regressor_filename)" />
    </node>

</launch>
