<!-- Bringup the robot's base controller

Bring up the robot's Python and Arduino base controllers.

This launch file is configured to use the Arduino as the
servo controller with the Python base controller managing
odometry and communicating with the servo driver via
ROS messages (so the base_controller node does not receive
a 'port' argument) 
-->
<launch>
    <arg name="arduino_port" default="/dev/ttyACM0"/>
    <arg name="servo_bus_port" default="/dev/ttyUSB0"/>

    <!-- curio_base_controller node -->
    <include file="$(find curio_base)/launch/base_controller.launch">
    </include>

    <!-- curio_base_failsafe node -->
    <include file="$(find curio_base)/launch/base_failsafe.launch">
        <arg name="port" value="$(arg servo_bus_port)"/>
    </include>

    <!-- curio_arduino_controller node -->
    <include file="$(find curio_base)/launch/arduino_controller.launch">
        <arg name="port" value="$(arg arduino_port)"/>
    </include>
</launch>
