<!-- Bringup the robot -->
<launch>
    <!-- linux -->
    <arg name="rover_base_port" default="/dev/ttyACM0"/>
    <arg name="imu_and_rc_port" default="/dev/ttyACM1"/>
    <arg name="laser_scan_port" default="/dev/ttyUSB0"/>
    <arg name="navsat_port" default="/dev/ttyUSB1"/>

    <!-- Rover base controller -->
    <include file="$(find curio_base)/launch/rover_base_controller.launch">
        <arg name="port" value="$(arg rover_base_port)"/>
    </include>

    <!-- IMU and RC -->
    <include file="$(find curio_base)/launch/imu_and_rc_controller.launch">
        <arg name="port" value="$(arg imu_and_rc_port)"/>
    </include>

    <!-- Sensor mapping -->
    <include file="$(find curio_base)/launch/base_sensors.launch">
    </include>

    <!-- Radio Control Teleoperation -->
    <include file="$(find curio_teleop)/launch/teleop_rc.launch">
    </include>
   
    <!-- Laser Scan -->    
    <include file="$(find curio_bringup)/launch/curio_laser_scan.launch">
        <arg name="port" value="$(arg laser_scan_port)"/>
        <arg name="frame_id" value="laser"/>
    </include>
  
    <!-- NavSat -->
    <include file="$(find nmea_navsat_driver)/launch/nmea_serial_driver.launch">
        <arg name="port" value="$(arg navsat_port)"/>
    </include>

</launch>
