<?xml version="1.0"?>
<!--     
 -->
<launch>
    <arg name="initial_pose_x" default="0.0" /> 
    <arg name="initial_pose_y" default="0.0" /> 
    <arg name="initial_pose_a" default="0.0" />

    <!-- Run ACML -->
    <node name="amcl" pkg="amcl" type="amcl"
        respawn="false" output="screen">
        <remap from="scan" to="sensors/laser" />
        <param name="transform_tolerance" value="0.5" />
        <param name="odom_model_type" value="diff" />
        <param name="odom_frame_id" value="odom" />
        <param name="base_frame_id" value="base_link" />
        <param name="global_frame_id" value="map" />
        <param name="tf_broadcast" value="true" />
    </node>

</launch>