<launch>
  <!-- Arguments -->
  <arg name="map_file" default="$(find curio_navigation)/maps/curio_shapes_map.yaml"/>
  <arg name="open_rviz" default="true"/>

  <!-- gazebo -->
  <include file="$(find curio_gazebo)/launch/curio_shapes_world.launch">
    <arg name="paused" value="false" /> 
    <arg name="use_rqt_robot_steering" value="false"/>
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find curio_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find curio_navigation)/launch/move_base.launch">
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find curio_viz)/rviz/curio_navigation.rviz"/>
  </group>
</launch>
